body {
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}
pre {
  font-size: 7em;
}
.marks .land {
  fill: #ececec;
}
.marks .sphere {
  fill: #fbfbfb;
}
.marks .interiors {
  fill: none;
  stroke: #d9dfe0;
}
.marks .graticules, .tick line {
  fill: none;
  stroke: #ececec;
}
circle {
  fill: #137B80;
  opacity: 0.3;
}

.tick text {
  fill: #635F5D;
  font-size: 0.5em;
}
.mark {
  fill: #137B80;
}
.axis-label {
  font-size: 0.5em;
  fill: #635F5D;
}
